Model quality:

* Соответствие гипотезе

* Финансовая оценка А/Б

* Обработка не популярных предметов

* Средняя частота взаимных повторений

* Интуитивность (Serendipity)

* Новизна

Жизненный цикл клиента, миссии клиента

Информация о пользователях
матрицы изучить
CSC
CSR 
Возможно (СОО, DIA)

### Рекомендации начинаются как не персональные

In [1]:
dataset = [['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб'],
            ['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб'],
            ['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб'],
            ['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб']]

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from apyori import apriori as classic_apriori
from mlxtend.frequent_patterns import apriori

In [3]:
classic_df = pd.read_csv("./data/store_data.csv")

In [4]:
classic_df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
classic_df = classic_df.fillna('nan')
records = classic_df.values[:100].tolist()

In [6]:
association_rules = classic_apriori(records, min_support=0.04, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

print("Найдено {} правил".format(len(association_results)))

for i in range(0, len(association_results)):
    print(association_results[i][0])

Найдено 10 правил
frozenset({'mineral water', 'fresh tuna'})
frozenset({'spaghetti', 'frozen vegetables'})
frozenset({'mineral water', 'ground beef'})
frozenset({'ground beef', 'spaghetti'})
frozenset({'shrimp', 'pasta'})
frozenset({'mineral water', 'fresh tuna', 'nan'})
frozenset({'spaghetti', 'nan', 'frozen vegetables'})
frozenset({'mineral water', 'nan', 'ground beef'})
frozenset({'nan', 'ground beef', 'spaghetti'})
frozenset({'shrimp', 'nan', 'pasta'})

In [7]:
association_results[0]

RelationRecord(items=frozenset({'mineral water', 'fresh tuna'}), support=0.04, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fresh tuna'}), items_add=frozenset({'mineral water'}), confidence=1.0, lift=4.0)])

In [8]:
# получаем правила из общего результат и смотрим метрики
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
 
    print("Support: " + str(item[1]))
 
 
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: mineral water -> fresh tuna
Support: 0.04
Confidence: 1.0
Lift: 4.0
=====================================
Rule: spaghetti -> frozen vegetables
Support: 0.05
Confidence: 0.625
Lift: 3.125
=====================================
Rule: mineral water -> ground beef
Support: 0.05
Confidence: 0.8333333333333334
Lift: 3.3333333333333335
=====================================
Rule: ground beef -> spaghetti
Support: 0.04
Confidence: 0.6666666666666667
Lift: 3.3333333333333335
=====================================
Rule: shrimp -> pasta
Support: 0.04
Confidence: 1.0
Lift: 20.0
=====================================
Rule: mineral water -> fresh tuna
Support: 0.04
Confidence: 1.0
Lift: 4.0
=====================================
Rule: spaghetti -> nan
Support: 0.05
Confidence: 0.625
Lift: 3.125
=====================================
Rule: mineral water -> nan
Support: 0.05
Confidence: 0.8333333333333334
Lift: 3.3333333333333335
=====================================
Rule: nan -> ground beef
Support: 0.04
Confidence: 0.6666666666666667
Lift: 3.3333333333333335
=====================================
Rule: shrimp -> nan
Support: 0.04
Confidence: 1.0
Lift: 20.0
=====================================

In [9]:
te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_try, columns=te.columns_)

# модель
# установим порог для support в 0.5
apriori(df,min_support=0.5, use_colnames=True)

    support             itemsets
0       0.6             (Йогурт)
1       1.0             (Лосось)
2       0.6                (Лук)
3       0.6             (Молоко)
4       0.8               (Хлеб)
5       0.6     (Йогурт, Лосось)
6       0.6        (Лук, Лосось)
7       0.6     (Молоко, Лосось)
8       0.8       (Хлеб, Лосось)
9       0.6          (Лук, Хлеб)
10      0.6  (Лук, Хлеб, Лосось)

# Метрики расстояний

In [ ]:
import numpy as np
import pandas as pd
from scipy import spatial

import warnings
warnings.filterwarnings('ignore')


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import seaborn as  sns
import matplotlib.pyplot as plt

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 200)

In [ ]:
a = [5., 1.]
b = [4., 4.]
c = [3.5, 2.5]
d = [2., 3.]

In [ ]:
labels = ["A", "B", "C", "D"]
data = np.append([a], [b], axis=0)
data = np.append(data, [c], axis=0)
data = np.append(data, [d], axis=0)

In [ ]:
# визуализируем данные
fig = plt.figure(figsize=(12,5))
ax = fig.add_subplot(111)

ax.scatter(data[:, 0], data[:, 1], color="red")

ax.set_xlabel("Фильм 1")
ax.set_ylabel("Фильм 2")


for i, word in enumerate(data):
    ax.annotate(labels[i], xy=(data[i, 0], data[i, 1]), size=30)
plt.grid(True)
plt.show()

In [ ]:
def euclidean_distance(x,y):
    from math import pow, sqrt
    return sqrt(sum(pow(a-b,2) for a,b in zip(x,y)))

def euclidean_distance_2(x,y):
    return sum((np.array(x) - np.array(y))**2)**(1/2)

In [ ]:
def manhattan_distance(x,y):
    return sum(abs(a-b) for a,b in zip(x,y))

def manhattan_distance_2(x,y):
    return sum(abs((np.array(x) - np.array(y))))

In [ ]:
def square_rooted(x):
    from math import pow, sqrt
    return round(sqrt(sum([a*a for a in x])),3)
  
def cosine_similarity(x,y):
    numerator = sum(a*b for a,b in zip(x,y))
    denominator = square_rooted(x)*square_rooted(y)
    return round(numerator/float(denominator),3)

def cosine_similarity_2(x,y):
    numerator = sum(np.array(x)*np.array(y))
    denominator = round(sum(np.array(x)**2)**(1/2),3)*round(sum(np.array(y)**2)**(1/2),3)
    return round(numerator/float(denominator),3)

In [ ]:
# расстояние одной точки А до остальных
print("A-C:",spatial.distance.euclidean(a, c))
print("A-B:", spatial.distance.euclidean(a, b))
print("A-D:", spatial.distance.euclidean(a, d))

# действительно считает)
print("A-А:", spatial.distance.euclidean(a, a))

In [ ]:
print("C-A:", spatial.distance.cosine(c,a))
print("A-B:", spatial.distance.cosine(a,b))
print("A-C:", spatial.distance.cosine(a,c))

In [ ]:
cosine_similarity_2(a,b)

In [ ]:
# сделаем расчет по всем точкам

dot_list = [a, b, c, d]

df = pd.DataFrame(columns = ['U1', 'U2', 'SIM'])

n=0

for i in dot_list:
    for j in dot_list:
        
        if i != j :
            
            # используйте выбранный метод и заполните таблицу 
            result = spatial.distance.cosine(i,j)
            df.loc[n] = [i, j, result]
            
            n+=1
        
df.sort_values(by = 'SIM')

# Коллаборативная фильтрация

Общая идея заключается в том, что для каждого пользователя мы считаем его схожесть с другим пользователем на основании его рейтингов фильмов. А затем эту схожесть используем для того, чтобы предсказать его рейтинг для фильма, который он не смотрел, но смотрели другие пользователи со схожим поведением.

In [6]:
import pandas as pd
import numpy as np
import random
import sklearn
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics
import sklearn.metrics.pairwise
import math

In [7]:
ratings = pd.read_csv('./data/ratings.csv')
movies = pd.read_csv('./data/movies.csv')
tags = pd.read_csv('./data/tags.csv')

#сделаем разбивку
train_ratings, test_ratings = sklearn.model_selection.train_test_split(ratings, test_size=0.2)

### ПОДХОД 1. Считаем расстояние между пользователями, которые смотрели одинаковые фильмы
Мы считаем матрицу схожести пользователей. Здесь представлено 2 способа
1. Берем пользователя user_1 и ставим в пару сначала user_2 потом всех остальных. Проверяем список всех фильмов которые смотрел user_1 и если этот фильм смотрел user_2 добавляем их оценки в вектор_1 и вектор_2, потом сравниваем эти вектора по косинусному расстоянию. Потом берем пару user_1 user_3 и так далее.

In [186]:
movie_users = {}
user_movies = {}
for index, row in train_ratings.iterrows():
    if row['movieId'] not in movie_users:
        movie_users[row['movieId']] = {}
        
    if row['userId'] not in user_movies:
        user_movies[row['userId']] = {}
        
    movie_users[row['movieId']][row['userId']] = row['rating']
    user_movies[row['userId']][row['movieId']] = row['rating']

In [ ]:
# сделаем расчет по всем пользователям
# проверяем разницу на основе cos(A,B)
similarities = {}

# все фильмы пользователя 1
for user1 in user_movies:
    if user1 not in similarities:
        similarities[user1] = {}
    
    # все фильмы пользователя 2
    for user2 in user_movies:
        if user2 in similarities[user1] or user1 == user2:
            continue
        
        user1_ratings = []
        user2_ratings = []
        
        # только те фильме, которые оба пользователя смотрели
        for key in user_movies[user1]:
            watched_users = movie_users[key]
            if user1 in watched_users and user2 in watched_users:
                user1_ratings.append(watched_users[user1])
                user2_ratings.append(watched_users[user2])
                
        if len(user1_ratings) > 0:
            if user2 not in similarities:
                similarities[user2] = {}
            
            # делаем расчет расстояния
            sim = np.dot(user1_ratings, user2_ratings) / (np.linalg.norm(user1_ratings) * np.linalg.norm(user2_ratings))
            similarities[user1][user2] = sim
            similarities[user2][user1] = sim

In [ ]:
# как вариант можем трансформировать в такую таблицу
cosine_sim_1 = pd.DataFrame(similarities).T

### ПОДХОД 2. Считаем  расстояние с учетом непросмотренных фильмов, там где рейтинг 0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

ratings_matrix = train_ratings.pivot(index='userId', columns='movieId', values='rating')
ratings_matrix = ratings_matrix.fillna(0)

cosine_sim = pd.DataFrame(cosine_similarity(ratings_matrix), 
                          index=ratings_matrix.index, 
                          columns=ratings_matrix.index)

cosine_sim.loc[441,38]

### KNN. Используем посчитанное расстояние для прогноза рейтинга
#### Основа: Фильм смотрели какое-то количество пользователей. Среди них есть близкие к user, мы берем k из них и усредняем их рейтинг

In [ ]:
Мы считаем прогнозный рейтинг пользователя User для фильма Movie

Для этого мы возьмем всех пользователей который смотрели фильм Movie
И найдем тех, у кого есть метрика схожести с пользователем User

Соберем для этого пользователя всех добавляя коэф. similarities и рейтинг в датафрейм knearest 
Прогнозный рейтинг для этого пользователя по фильму будет равен взвешенному из knearest

In [ ]:
#KNN
def knn_predict(k, userId, movieId):
    watched_users = movie_users[movieId]
    
    sim_scores = []
    rating_scores = []
    
    for w in watched_users:
        if w in similarities[userId]:
            sim_scores.append(similarities[userId][w])
            rating_scores.append(watched_users[w])
    
    #Считаем скоринг и находим ближайших
    if len(sim_scores) > 0:
        sim_df = pd.DataFrame(data={'sim' : sim_scores, 'rating' : rating_scores})
        
        # делаем сортировку
        sorted_sim_df = sim_df.sort_values(by=['sim'], ascending = False)
        # отбор топ - это и есть ближайшие
        knearest = sorted_sim_df.head(k)
        
        numerator = 0
        denomenator = 0
        for index, row in knearest.iterrows():
            numerator += row['sim'] * row['rating']
            denomenator += row['sim']
        return numerator / denomenator
    else: 
        # можно возвращать любой случайный рейтинг или средний по всем
        return 2.5

In [ ]:
# сделаем расчет

# определим кол-во ближайших соседей (набор, чтобы увидеть разницу) 
Ks= [10, 15, 20, 25]

# сделаем подбор для тех, кто есть в тестовой выборке
for K in Ks:
    predicted_ratings = []
    actual_ratings = []

    for index, row in test_ratings.iterrows():
        if row['movieId'] not in movie_users:
            continue

        pred = knn_predict(K, row['userId'], row['movieId'])

        # сохраним результат
        predicted_ratings.append(pred)
        actual_ratings.append(row['rating'])
    
    # метрика (факт / предикт)
    rmse = math.sqrt(sklearn.metrics.mean_squared_error(predicted_ratings, actual_ratings))
    print("K - ", K, " | RMSE:", rmse)

### БИБЛИОТЕКА SURPRISE (НЕ Работает - смотри в google colab) А так результат чуть лучше, чем вручную выше

In [ ]:
from surprise import Dataset
from surprise import Reader
import numpy as np
import pandas as pd
from surprise.model_selection import train_test_split

from surprise import KNNWithMeans, accuracy

In [ ]:
df = pd.read_csv('./data/ratings.csv')

In [ ]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=0.2, random_state=28)

# используем такую же item-based рекомендацию на основе схожести по косиносному расстоянию
sim_options = {
    "name": "cosine",
    "user_based": False,  # расстояние между предметами, не пользователями
}
algo = KNNWithMeans(sim_options=sim_options)

In [ ]:
algo.fit(trainset)

In [ ]:
algo.test(testset)[:10] #r_ui факт

In [ ]:
accuracy.rmse(algo.test(testset))

# Matrix Factorization

In [28]:

# Создадим (инициализируем) вектора для каждого user и каждого movie, в рандомном порядке.
user_matrix = {}
item_matrix = {}
learning_rate = 0.0001
lu = 0.0001
li = 0.0001
K = 5

for u in user_movies:
    user_matrix[u] = random.sample(range(1, 100), K)
    for index in range(K):
        user_matrix[u][index] /= float(100)
    
for i in movie_users:
    item_matrix[i] = random.sample(range(1, 100), K)
    for index in range(K):
        item_matrix[i][index] /= float(100)

### функция ошибки

In [51]:
# функция ошибки
def get_error(user_matrix, item_matrix, actual, lu, li):
    error = 0
    for u in actual:
        for i in actual[u]:
            pred = np.dot(user_matrix[u], item_matrix[i])
            error += (pred - actual[u][i]) ** 2
            
    error /= 2
    
    u_norm = 0
    for u in user_matrix:
        for val in user_matrix[u]:
            u_norm += val ** 2
    i_norm = 0
    for i in item_matrix:
        for val in item_matrix[i]:
            i_norm += val ** 2
            
    error += lu * u_norm / 2
    error += li * i_norm / 2
              
    return error
    
    
#производная U
def dE_u(user_matrix, item_matrix, actual, lu, u, index):
    derivative = 0
    for i in actual[u]:
        pred = np.dot(user_matrix[u], item_matrix[i])
        derivative += (pred - actual[u][i]) * item_matrix[i][index]
        
    derivative += lu * user_matrix[u][index]
    
    return derivative 

#производная V
def dE_i(user_matrix, item_matrix, actual, li, i, index):
    derivative = 0
    watched_users = movie_users[i]
    for u in watched_users:
        pred = np.dot(user_matrix[u], item_matrix[i])
        derivative += (pred - actual[u][i]) * user_matrix[u][index]
        
    derivative += li * item_matrix[i][index]
    
    return derivative




#ALS
def learn(user_matrix, item_matrix, actual, lu, li, learning_rate):
    counter = 0
    while counter < 10:
        error = get_error(user_matrix, item_matrix, actual, lu, li)
        print("Counter:", counter, "Error:", error) #Error should trend downwards over time
        
        #Используем V константой, обновляем U с градиентом
        if counter % 2 == 0:
            user_derivatives = {}      
            for u in user_matrix:
                user_derivatives[u] = []
            
                for index in range(len(user_matrix[u])):
                    user_derivatives[u].append(dE_u(user_matrix, item_matrix, actual, lu, u, index))
                    
            for u in user_matrix:
                for index in range(len(user_matrix[u])):
                    user_matrix[u][index] -= learning_rate * user_derivatives[u][index]

        #Используем U константой, обновляем V с градиентом
        else:
            item_derivatives = {}
            for i in item_matrix:
                item_derivatives[i] = []
                for index in range(len(item_matrix[i])):
                    item_derivatives[i].append(dE_i(user_matrix, item_matrix, actual, li, i, index))
                    
            for i in item_matrix:
                for index in range(len(item_matrix[i])):
                    item_matrix[i][index] -= learning_rate * item_derivatives[i][index]
        
        counter += 1
        
    return (user_matrix, item_matrix)

In [52]:
learned_users, learned_items = learn(user_matrix, item_matrix, user_movies, lu, li, learning_rate)

Counter: 0 Error: 271084.96173539525
Counter: 1 Error: 252419.8469623627
Counter: 2 Error: 249120.77079132377
Counter: 3 Error: 234022.0445927252
Counter: 4 Error: 230690.10234386503
Counter: 5 Error: 218168.63774764448
Counter: 6 Error: 214863.13368097384
Counter: 7 Error: 204263.32048202128
Counter: 8 Error: 201029.6486354064
Counter: 9 Error: 191907.78940557406

In [54]:
predicted_ratings = []
actuals = []
not_count = 0
for index, row in test_ratings.iterrows():
    if row['movieId'] not in movie_users:
        continue
        
    pred = np.dot(learned_users[row['userId']], learned_items[row['movieId']])
    predicted_ratings.append(pred)
    actuals.append(row['rating'])

rmse = math.sqrt(sklearn.metrics.mean_squared_error(predicted_ratings, actuals))
print("RMSE:", rmse)

RMSE: 2.197183642351023

## Тоже самое только библиотекой Surprise

In [ ]:
from surprise import SVD, accuracy

In [ ]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(movielens[['userId', 'item_id', 'rating']], reader)

trainset, testset = train_test_split(data, test_size=0.25)

In [ ]:
algo = SVD()
algo.fit(trainset)

predictions = algo.test(testset)

In [ ]:
accuracy.rmse(predictions)

## Работа с Pivot Crosstab

In [149]:
pivot_df = pd.crosstab(ratings['userId'], ratings['movieId'], values=ratings['rating'], aggfunc='first')
pivot_df1 = ratings.pivot_table(index = 'userId',columns = 'movieId', values = 'rating')

Проверка и удаление NaN

In [153]:
pivot_df.isnull().all().sum()
pivot_df.columns[pivot_df.isnull().all()]
pivot_df.index[pivot_df.isnull().all(axis=1)]

Index([], dtype='int64', name='movieId')

In [155]:
pivot_df = pivot_df.dropna(axis=1, how='all')
pivot_df = pivot_df.dropna(axis=0, how='all')

In [191]:
pivot_df.loc[1,:]

movieId
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
          ..
161944   NaN
162376   NaN
162542   NaN
162672   NaN
163949   NaN
Name: 1, Length: 9066, dtype: float64

In [193]:
# Словари исключая NaN
index_column = pivot_df.apply(lambda row: row.dropna().to_dict(), axis=1).to_dict()
column_index = pivot_df.T.apply(lambda row: row.dropna().to_dict(), axis=1).to_dict()